body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/background.jpeg') no-repeat center fixed;     
    background-size: cover;
    background-color: aqua;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.bio {
    font-size: 1rem;
    line-height: 1.5;
    /* width: 70%; */
    margin-left: 20%;
    margin-right: 20%;
}

.band-image {
    width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 10%;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

/* Band Member Section Styles */
.band-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.member-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #2196F3;
}